<div class="login-body">
    <div class="login-panel"></div>

    <div class="login-content">
        <img src="assets/layout/images/logo.png" alt="babylon-layout"/>

        <h1><span>SIGN IN</span> TO MLOGISTICS</h1>
        <p>Welcome, please use the form to sign-in.</p>

    
            <p-message severity="error" *ngIf = 'invalidmessageFlag' text={{message}}></p-message>
        <div class="login-input-wrapper">
            <input type="text" autocomplete="off" placeholder="Username" name = {{username}} [(ngModel)]='username' pInputText>
            <i class="pi pi-user"></i>
        </div>

        <div class="login-input-wrapper">
            <input type="password" autocomplete="off" placeholder="Password" [(ngModel)]= 'password' pInputText>
            <i class="pi pi-lock"></i>
        </div>

        <button (click)='handleLogin()'  pButton type="button" label="Sign In"></button>
    </div>
</div>
